<html>
<head>
<title>Registration Form Design</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='registration.css') }}">
<body>
    <div class="registrationbox">
        <h1>Registration</h1>
        <form>
            <p>Name
            <input type="text" name="" placeholder="Enter Your Name"></p>
            <p>Username
            <input type="text" name="" placeholder="Enter Your Userame"></p>
            <p>Password
            <input type="password" name="" placeholder="Enter Password"></p>
            <p>Password
            <input type="password" name="" placeholder="Re-Enter Password"></p>
            <p>Email
            <input type="Email" name="" placeholder="Enter Your Email"></p>
            <input type="submit" name="" value="Save">
            <td width="10%" align="center"> <a href="index">Home</a></td>
        </form>

    </div>

</body>
</head>
</html>